* {
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
    font: 500 ;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.split {
    display: grid;
    width: 98%;
    margin: 0 1%;
    grid-template-columns: 48.5% 1% 48.5%;
    padding: 10px;
    column-gap: 1%;
}
.vl {
    border: solid thin black;
    background-color: black;
    height: 95vh;
  }
input {
    display: block;
    width: 100%;
    margin: 5px auto 10px auto;
    padding: 5px;
    border: solid 2px black;
    background-color: white;
    color: black;
}
textarea {
    display: block;
    width: 100%;
    margin: 5px auto 10px auto;
    height: 10em;
    padding: 5px;
    border: solid 2px black;
    background-color: white;
    color: black;
    resize: none;
    word-break: break-all;
}
button {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}
input,textarea,button {
    border-radius: 3px;
}
*{word-break: break-all;}
.hide {
    display: none;
}
@media only screen and (max-width: 800px) {
    * {
        font-size: 16px;
        font-weight: 500;
    }
    .split {
        width: 100%;
        margin: 0;
        padding: 5px;
    }
}
@media only screen and (max-width: 480px) {
    * {
        font-size: 14px;
        font-weight: 400;
    }
}
